html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

textarea:focus,
input:focus {
    outline: none;
}

a {
    color: rgb(159, 159, 159);
    text-decoration: none;
    font-size: 0.65rem;
    letter-spacing: 0.1rem;
}

a:hover {
    color: white;
    transition: color 0.25s ease;
}

body {
    color: white;
    /* border: 10px solid red; */
    display: flex;
    flex-direction: row;
    font-family: "Montserrat", sans-serif;
    font-size: 0.8rem;
    font-weight: 600;
    height: 100%;
}

.left-side {
    /* border: 1px solid blue; */
    background-color: #121212;
    width: 15%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #121212;
    color: white;
    z-index: 1;
    overflow-y: hidden;
}

.right-side-main {
    background-color: #232323;
    position: relative;
    margin-left: 15%;
    width: 85%;
    /* border: 10px solid green; */
    height: 100%;
    padding: 1.3em 0 0 1em;
}

.search-bar {
    border: none;
    width: 90%;
}

.search-bar-fa {
    /*search bar + icon*/
    border: 1.3px solid black;
    width: 28%;
    display: flex;
    gap: 0.5em;
    align-items: center;
    padding: 1em;
    border-radius: 50px;
    background-color: white;
}

.active {
    border: 2px solid #09ec58;
}


/* .search-bar-container {
    border: 1px solid green;
    position: fixed;
    width: 100%;
} */


/* .search-bar-fa:focus {
    border: 2px solid black;
} */

.results-container {
    width: 100%;
    /* border: 10px solid green; */
}


/*these are the dynamically added classes from js*/

svg {
    height: 20px;
    width: 20px;
}

.result-div {
    z-index: 10;
    display: grid;
    align-items: center;
    grid-template-columns: 1em 5em 45em 30em 10em;
    gap: 1em;
    padding: 0.5em 0.75em;
}

.headings {
    display: grid;
    align-items: center;
    grid-template-columns: 1em 5em 45em 30em 10em;
    padding: 1em 0.75em;
    gap: 1em;
    border-bottom: 1px solid white;
}


/* .result-number {
    border: 1px solid black;
} */

.searched-img {
    /* border: 1px solid red; */
    width: 40px;
    height: 40px;
    padding: 0.3em;
}

.searched-song-name {
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
    gap: 0.65em;
}


/* .searched-song-album {
    border: 1px solid red;
} */

.searched-song-time {
    /* border: 1px solid red; */
    text-align: center;
}

.cross-button {
    background: none;
    border: none;
    font-weight: bold;
    font-size: 18px;
    color: black;
}

.logo {
    /* border: 1px solid red; */
    padding: 1em 0.2em 0.5em 2em;
    display: flex;
    align-items: center;
}

.menu {
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
    padding: 1em 0.2em 0.5em 2em;
}

.menu a {
    /* border: 1px solid yellow; */
    display: flex;
    align-items: center;
    gap: 1em;
}